# This file contains common pin mappings for the BIGTREETECH Manta M4P
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" and USB communication.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PC6
dir_pin: PA14
enable_pin: !PC7
microsteps: 16
rotation_distance: 32.1
endstop_pin: ^!PC0
position_endstop: -5
position_min: -30
position_max: 270
homing_speed: 100

[stepper_y]
step_pin: PB10
dir_pin: PB2
enable_pin: !PB11
microsteps: 16
rotation_distance:32.1
endstop_pin: ^!PC1
position_endstop: -14
position_min: -15
position_max: 270
homing_speed: 100


[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 32.1
endstop_pin: !PC2
position_endstop: -0.010
position_max:420
position_min: -1
homing_speed: 120


[safe_z_home]
home_xy_position: 150,150   # وسط تخت
speed: 150
z_hop: 10
z_hop_speed: 100


[fan]
pin: PD2


[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_hurakan-if00
[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 300
max_z_accel: 3000

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PB12
run_current: 0.800

[tmc2209 stepper_y]
uart_pin: PC10
run_current: 0.800

[tmc2209 stepper_z]
uart_pin: PC9
run_current: 0.800
